<body>
    Wywołanie szablonu z innego szablonu:
    <%- include('helper', {
        namee: 'asda',
        options: [
        { val : 'a'},
        { val : 'b'},
        { val : 'c'}
        ]
        }) %>
</body>

</html>