<html>
    <head>
    </head>
    <body>
        <form action="fileupload" method="post" enctype="multipart/form-data">
            <input type="file" name='uploaded'>
            <input type="submit" name="upFiles" value="Upload" />
        </form>
    </body>
</html>